/* Write your global styles here, in PostCSS syntax */

html {
    color-scheme: dark;
    min-height:100%;
}

p {
    @apply mb-2 mt-1;
}
*:target {
    outline: 1px solid gray;
}
body {
    height:100%;
}